.inverse,
.fancy {
    font-size: 28px;
    font-family: Helvetica, "Times New Roman", sans-serif;
}

.inverse {
    background-color: black;
    color: white;
}

.fancy {
    background-color: yellow;
}